{% set page_title = "Counter Strike Wayback Machine" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/pico.min.css">
    <title>Ooops!</title>
</head>
<body>
<main class="container">
    <h1>Server Error</h1>
    <p>Oops, something went wrong on our side. Please try again later.</p>
</main>
</body>
</html>
