{% extends "base.jinja2" %}
{% block title %}Server Error{% endblock %}
{% block body %}
<main class="container">
    <h1>Server Error</h1>
    <p>Oops, something went wrong on our side. Please try again later.</p>
</main>
{% endblock %}
