{% if page_title is not defined %}
    {% set page_title = "Counter Strike Wayback Machine" %}
{% else %}
    {% set page_title = page_title ~ " | Counter Strike Wayback Machine" %}
{% endif %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/pico.min.css">
    <link rel="stylesheet" href="/style.css">
    {% block in_head %}{% endblock %}
    <title>{{ page_title }}</title>
    <meta name="title" content="{{ page_title }}"/>
    <meta name="description" content="Service for Viewing Historical Data on Counter-Strike Players and Teams"/>
    <meta property="og:title" content="{{ page_title }}"/>
    <meta property="og:description" content="Service for Viewing Historical Data on Counter-Strike Players and Teams "/>
    <meta property="og:image" content="https://cs-wayback-machine.yakimka.me/android-chrome-512x512.png"/>
    <meta property="twitter:title" content="{{ page_title }}"/>
    <meta property="twitter:description" content="Service for Viewing Historical Data on Counter-Strike Players and Teams "/>
    <meta property="twitter:image" content="https://cs-wayback-machine.yakimka.me/android-chrome-512x512.png"/>
</head>
<body hx-indicator="#head-indicator">
{%  include "header.jinja2" %}
{% block body %}{% endblock %}
{%  include "footer.jinja2" %}
</body>
</html>
