<footer>
    <section class="container" style="color: var(--pico-secondary);">
        <a class="secondary" href="https://github.com/yakimka/cs-wayback-machine"><small>Source code</small></a>
        {% if global_data.db_last_updated_date %}
        <br>
        <small>Database updated {{ global_data.db_last_updated_date }}</small>
        {% endif %}
    </section>
</footer>
