<footer>
    <section class="container" style="color: var(--pico-secondary);">
        <a class="secondary" href="https://github.com/yakimka/cs-wayback-machine"><small>Source code</small></a>
{#        <br>#}
{#        <small>Database updated 2022-09-18</small>#}
    </section>
</footer>
