{% extends "base.jinja2" %}
{% set page_title = "Search CS team or player" %}
{% block in_head %}
    <link rel="stylesheet" href="/awesomplete.css">
    <script src="/awesomplete.min.js"></script>
{% endblock %}
{% block body %}
    <main class="container">
        <form action="/goto/" method="get" id="search-form">
            <fieldset role="group">
                <input
                        id="search"
                        type="search"
                        name="q"
                        placeholder="Type a CS team or player name, for example: Natus Vincere"
                        aria-label="Search"
                        class="awesomplete"
                        list="mylist"
                />
                <datalist id="mylist">
                    {% for item in data.search_items %}
                        <option>{{ item | safe }}</option>
                    {% endfor %}
                </datalist>
                <input type="submit" value="Search"/>
            </fieldset>
        </form>
        <script>
            let input = document.getElementById("search");
            new Awesomplete(input, {
                minChars: 1,
                maxItems: 100,
                autoFirst: true,
                tabSelect: true,
            });
            input.addEventListener("awesomplete-selectcomplete", function () {
                document.getElementById("search-form").submit();
            });
        </script>
        <section class="overflow-auto" style="margin-top: 150px;">
            <h2>Statistics</h2>
            <div class="grid-statistics">
                {% for table in data.statistics %}
                    <table class="striped">
                        <caption>{{ table.title }}</caption>
                        <thead>
                        <tr>
                            <th>#</th>
                            {% for header in table.headers %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in table.rows %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                {% for cell in row %}
                                    <td>
                                        {% if cell.is_team_id %}
                                            <a class="contrast"
                                               href="{{ team_link(cell.value) }}">{{ cell.value }}</a>
                                        {% elif cell.is_player_id %}
                                            <a class="contrast"
                                               href="{{ player_link(cell.value) }}">{{ cell.value }}</a>
                                        {% else %}
                                            {{ cell.value }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
