{% extends "base.jinja2" %}
{% set page_title = data.team_name %}
{% block body %}
    <main class="container">
        <div role="group">
            <h1>{{ data.team_name }} <sup><a class="secondary extra-small"
                                             href="{{ data.liquipedia_url }}">liquipedia</a></sup>
            </h1>
        </div>
        <div role="group">
            {% if data.reset_filters_url %}
                <a href="{{ data.reset_filters_url }}">Reset filters</a>
            {% endif %}
        </div>
        <div class="grid-4x">
            {% for roster in data.rosters %}
                <article>
                    <header>
                        <hgroup style="margin-bottom: 0;">
                            <p>
                                {{ roster.period }}
                                {% if roster.game_version != "-" %}
                                    <sup><span
                                            style="font-size: 0.475em;">{{ roster.game_version }}</span></sup>
                                {% endif %}
                            </p>
                        </hgroup>
                    </header>
                    {% for player in roster.players %}
                        <details>
                            <summary>
                                <img src="{{ player.flag_url }}"
                                     alt="{{ player.country }} flag"
                                     width="25px"
                                     title="{{ player.country }}"
                                     class="flag">

                                <a class="contrast"
                                   href="{{ player_link(player.player_id) }}"
                                >
                                    {% if player.highlight %}
                                        <mark>{{ player.nickname }}</mark>
                                    {% else %}
                                        {{ player.nickname }}
                                    {% endif %}
                                </a>
                                {% if player.is_captain %}
                                    <img src="/img/crown.png"
                                         alt="IGL"
                                         width="25px"
                                         title="In Game Leader">
                                {% endif %}
                                {% if player.is_coach %}
                                    <img src="/img/whistle.png"
                                         alt="Coach"
                                         width="25px"
                                         title="Coach">
                                {% endif %}
                            </summary>
                            <div>
                                <p><small>Name: {{ player.name }}</small></p>
                                <p><small>Country: {{ player.country }}</small></p>
                                <p><small>Position: {{ player.position }}</small></p>
                                <p><small>Join
                                    Date: {{ player_date(player.join_date, player.join_date_raw) }}</small>
                                </p>
                                <p><small>Inactive
                                    Date: {{ player_date(player.inactive_date, player.inactive_date_raw) }}</small>
                                </p>
                                <p><small>Leave
                                    Date: {{ player_date(player.leave_date, player.leave_date_raw) }}</small>
                                </p>
                                <p>
                                    <small>
                                        {% if player.liquipedia_url %}
                                            <a class="secondary" href="{{ player.liquipedia_url }}">Liquipedia
                                                profile</a>
                                        {% else %}
                                            {{ player.nickname }}
                                        {% endif %}
                                    </small>
                                </p>
                            </div>
                        </details>
                        <hr>
                    {% endfor %}
                </article>
            {% endfor %}
        </div>
    </main>
{% endblock %}
